* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: #333;
}

p, label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="email"],
textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;  
}

.header {
    height: 160px;
    padding: 20px;
    background-color: #02b635;
}

.header h1 {
    color: rgb(24, 82, 2);
    margin-top: 0;
}

.header h2 {
    font-size: 30px;
    color: #FFF;
    margin-top: 0;
    position: relative;
    top: -33px;
    right: -103px;
}



.header p {
    font-size: 20px;
    color: #FFF;
}

.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p {
    color:#02b635;
    border-bottom: 2px solid #02b635;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.block {
    display: block;
}

.radio-input {
    margin-bottom: 20px;
}


.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 30px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: red;
}

.box-input {
    margin-bottom: 35px;
}

.box-input textarea {
    margin-top: 10px;
}

.btn-submit {
    margin-top: 15px;
    background-color: #02b635;
    color: #FFF;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #FFF;
    border-color: #02b635;
    color: #02b635;
}
